<body>
    <div class="panel">
        <h1>Peças</h1>
        <br />
        <div class="jumbotron">

            <form method="get" action="~/Views/Home/Veículos.cshtml">
                <h3>Código Peça</h3> <input class="input-sm" type="number" name="CodigoPeça" placeholder="Insira o Codigo aqui">
                <h3>Nome da Peça</h3><input class="input-sm" type="text" name="NomePeça" placeholder="Insira o Nome da Peça">
                <h3>Preço R$ </h3><input class="input-sm" type="number" name="PreçoPeças" placeholder="Insira o Codigo Empresa">
                <h3>Data da Compra</h3><input class="input-sm" type="datetime" name="DataAluguel" placeholder="Insira a Data">

            </form>

            <p><a id="btSalvarVeiculo" class="btn btn-primary">Salvar</a></p>
            <br />
            <p><a id="btEditarVeiculo" class="btn btn-primary">Editar</a></p>
            <br />
            <p><a id="btExcluir" class="btn btn-primary">Excluir</a></p>
        </div>
    </div>
</body>