<body>
    <div class="panel">
        <h1>Sinistro</h1>
        <br />
        <div class="jumbotron">

            <form method="get" action="~/Views/Home/Veículos.cshtml">
                <h3>Código Sinistro</h3> <input class="input-sm" type="number" name="CodigoSinistro" placeholder="Insira o Codigo aqui">
                <h3>Código Carro</h3><input class="input-sm" type="search" name="CodigoCarroSinistro" placeholder="Insira o Código do Carro">
                <h3>Data</h3><input class="input-sm" type="date" name="DataSinistro" placeholder="Insira a Data">
                <h3>Observação</h3><input class="input-sm" type="text" name="DataAluguel" placeholder="Digite a observação aqui">

            </form>

            <p><a id="btSalvarVeiculo" class="btn btn-primary">Salvar</a></p>
            <br />
            <p><a id="btEditarVeiculo" class="btn btn-primary">Editar</a></p>
            <br />
            <p><a id="btExcluir" class="btn btn-primary">Excluir</a></p>
        </div>
    </div>
</body>