<body>
    <div class="panel">
        <h1>Usuário</h1>
        <br />
        <div class="jumbotron">

            <form method="get" action="~/Views/Home/Veículos.cshtml">
                <h3>Usuário</h3> <input class="input-sm" type="text" name="Usuario" placeholder="Usuário">
                <h3>Senha</h3><input class="input-sm" type="password" name="SenhaUsuario" placeholder="Insira a senha">
            </form>

            <p><a id="btSalvarVeiculo" class="btn btn-primary">Salvar</a></p>
            <br />
            <p><a id="btEditarVeiculo" class="btn btn-primary">Editar</a></p>
            <br />
            <p><a id="btExcluir" class="btn btn-primary">Excluir</a></p>
        </div>
    </div>
</body>
