    <body>
        <div class="panel">
            <h1>Véiculos</h1>
            <br />
        
            <br />
            <br />
            <div class="jumbotron">

                <form method="get" action="~/Views/Home/Veículos.cshtml">
                   
                <topcenter><h3>Código Placa</h3> <input class="input-sm" type="text" name="Placa" placeholder="Digite a placa aqui"></topcenter>
                    <h3>Modelo</h3><input class="input-sm" type="text" name="Modelo" placeholder="Digite o modelo aqui">
                    <h3>Código</h3><input class="input-sm" type="search" name="Modelo" placeholder="Digite o codigo aqui">
                    <h3>Código Empresa</h3><input class="input-sm" type="search" name="Modelo" placeholder="Digite o Codigo Empresa aqui">
                    <h3>KM</h3><input class="input-sm" type="number" name="Modelo" placeholder="Digite o modelo aqui">
                    <h3>Ano</h3><input class="input-sm" type="date" name="Modelo" placeholder="Digite o modelo aqui">
                </form>

            <p><a id="btSalvarVeiculo" class="btn btn-primary">Salvar</a></p>
            <br />
            <p><a id="btEditarVeiculo" class="btn btn-primary">Editar</a></p>
            <br />
            <p><a id="btExcluir" class="btn btn-primary">Excluir</a></p>
        </div>
        </div>
    </body>